#poststuff {
  #wsn_product {
    .inside {
      margin: 0;
      padding: 0;
    }
  }
}

.wsn-wrapper {
  margin: 0;
}

.wsn-tabs {
  &__header {
    align-items: center;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;
  }

  &__main {
    background: #fafafa;
    border-bottom: solid 1px #eee;
  }

  &__action {
    display: flex;
    align-items: center;

    &-item {
      border-right: solid 1px #ddd;
      padding: 0 15px;

      &:last-child {
        border: none;
      }

      a {
        align-items: center;
        display: inline-flex;
        text-decoration: none;

        > i {
          margin-right: 5px;
        }
      }
    }
  }

  &-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-nav-item {
    background: none;
    color: #0073aa;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;

    &--current {
      color: #555;
      background: #eeeeee;
      position: relative;
    }
  }

  &__body {
    border-radius: 0 0 5px 5px;
    border-top: none;
    margin-top: -1px;
  }

  &__content {
    display: none;
    padding: 15px;

    &--current {
      display: inherit;
    }
  }

  &--hidden {
    display: none;
  }
}

.wsn-tab-section {
  &__header {
    h5 {
      color: #555;
      font-size: 25px;
      margin: 0;
    }

    .wsn-tab-section-desc {

    }
  }
}

.wsn-tab-table {
  margin-top: 10px;
  padding: 0;
}

.wsn-tab-table-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.wsn-tab-table-list-col {
  color: #555;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.wsn-tab-table-body {
  margin: 0 -15px;
}

.wsn-tab-table-item {
  align-items: center;
  border-top: solid 1px #eee;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;

  &--disabled {
    background: whitesmoke;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background: #f5f5f5;
  }
}

.wsn-tab-table-item-col-actions {
  align-items: center;
  display: flex;
}

.wsn-tab-table-item-col-action {
  align-items: center;
  display: flex;
  margin-right: 10px;
  min-height: 20px;

  a {
    display: inline-flex;
    font-size: 15px;
    text-decoration: none;

    > span {
      font-size: 15px;
      height: auto;
      line-height: 10px;
    }
  }

  &:last-child {
    margin: 0;
  }
}

.wsn-splash {
  background: #fff;
  display: none;

  &__body {
    color: white;
    padding: 50px;

    h3 {
      margin: 0;
    }
  }

  &--visible {
    display: block;
  }
}

.wsn-form {
  h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
  }

  &-field {
    align-items: center;
    display: flex;

    a {
      margin-left: 14px;
    }
  }

  .wsn-input-field {
    border: solid 1px #d0d0d0;
    padding: 5px 10px;
    margin: 15px 0;
    width: 50%;
    background: transparent;
  }
}

.wsn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.wsn-product-variation-head {
  border-top: solid 1px #eee;
}